<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primer Django Rest</title>
</head>
<body>
    <h1> Hello </h1>

    <script>
        const current_csrf_token = '{{ csrf_token }}'
        fetch("http://127.0.0.1:8000/api/login", {
            headers:{
                "Content-Type":"application/json",
                "X-CSRFToken": current_csrf_token
            },
            body:JSON.stringify({
                "username":"amir",
                "password":"passsecreta"
            }),
            method:"POST"
        })
        .then(response => response.json())
        .then(resultado=>{
            const token = resultado.token
            fetch("http://127.0.0.1:8000/api/reviews/",{
                method:"GET",
                headers:{
                    "Authorization":"Token " + token
                }
            }).then(respuesta => respuesta.json())
            .then(respuesta => console.log(respuesta))
        })
        .catch(err => console.error("Hubo un error: " + err.message))
    </script>
</body>
</html>